<% if @trip.errors.any? %>
<h2> the errors </h2>
<ul>
<% @trip.errors.full_messages.each do|msg| %>
<li> <%= msg %> </li>

<% end %>
</ul>
<% end %>


 <%= form_for [:users,@trip] do |f| %>
 <p>
   <%= f.label :number_of_seats %> <br/>
  <%=  f.number_field :number_of_seats  %>
 </p>
 <p> <%= f.label :source %>
   <%= f.select :source, options_from_collection_for_select(Place.all, "id", "name") %></p>
 <p>
   <%= f.label :destination %>
   <%= f.select :destination, options_from_collection_for_select(Place.all, "id", "name") %></p>


 <p><%= f.label :departure_time%> <br/>

<%= f.datetime_select(:departure_time, min: Time.now,:default => { :hour => 23, :minute => 59 }) %><p>
  <%=f.submit %>
</p>

 <% end %>

<%= link_to "back to all trip" , users_trips_path %>
