<% if @pickup.errors.any? %>
<h2> the errors </h2>
<ul>
<% @pickup.errors.full_messages.each do|msg| %>
<li> <%= msg %> </li>

<% end %>
</ul>
<% end %>


 <%= form_for [:users,@pickup] do |f| %>


 <p><%= f.label :departure_time%> <br/>

<%= f.datetime_select(:departure_time, :default => { :hour => 23, :minute => 59 }) %><p>
  <%=f.submit %>
</p>

 <% end %>

<%= link_to "back to all pickups" , users_pickups_path %>
